################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hass-tryfi/FileContentIndex/df8b56d6-2afd-49f7-b33a-b54b82a734c8.vsidx
/.vs/hass-tryfi/FileContentIndex/42c12fcf-e215-4305-a95f-7f9f2072b5e5.vsidx
/.vs/hass-tryfi/v17
